# Exploratory Data Analysis

## Setup

In [4]:
# Necessary imports
# =================

import pandas as pd
import numpy as np

## Data load

In [5]:
# Raw data load
# =============

url = 'https://github.com/celizarbe/hipparcos-ml-project/blob/cesar_dev_hipparcos-ml-project/data/raw/hipparcos-voidmain.csv?raw=true'
raw_data = pd.read_csv(url)

In [6]:
# Raw data preview
# ================

raw_data.head()

,Catalog,HIP,Proxy,RAhms,DEdms,Vmag,VarFlag,r_Vmag,RAdeg,DEdeg,...,Survey,Chart,Notes,HD,BD,CoD,CPD,(V-I)red,SpType,r_SpType
0,H,1,NaN,00 00 00.22,+01 05 20.4,9.10,NaN,H,0.000912,1.089013,...,S,NaN,NaN,224700.0,B+00 5077,NaN,NaN,0.66,F5,S
1,H,2,NaN,00 00 00.91,-19 29 55.8,9.27,NaN,G,0.003797,-19.498837,...,NaN,NaN,NaN,224690.0,B-20 6688,NaN,NaN,1.04,K3V,4
2,H,3,NaN,00 00 01.20,+38 51 33.4,6.61,NaN,G,0.005008,38.859286,...,S,NaN,NaN,224699.0,B+38 5108,NaN,NaN,0.00,B9,S
3,H,4,NaN,00 00 02.01,-51 53 36.8,8.06,NaN,H,0.008382,-51.893546,...,S,NaN,NaN,224707.0,NaN,NaN,P-52 12237,0.43,F0V,2
4,H,5,NaN,00 00 02.39,-40 35 28.4,8.55,NaN,H,0.009965,-40.591224,...,NaN,NaN,NaN,224705.0,NaN,C-41 15372,P-41 9991,0.95,G8III,2

## EDA

In [7]:
# Dataframe shape
# ===============
raw_data.shape

(118218, 78)

In [8]:
# Dataframe info
# ==============

raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118218 entries, 0 to 118217
Data columns (total 78 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Catalog    118218 non-null  object
 1   HIP        118218 non-null  int64
 2   Proxy      10925 non-null   object
 3   RAhms      118218 non-null  object
 4   DEdms      118218 non-null  object
 5   Vmag       118217 non-null  float64
 6   VarFlag    11562 non-null   float64
 7   r_Vmag     118217 non-null  object
 8   RAdeg      117955 non-null  float64
 9   DEdeg      117955 non-null  float64
 10  AstroRef   13734 non-null   object
 11  Plx        117955 non-null  float64
 12  pmRA       117955 non-null  float64
 13  pmDE       117955 non-null  float64
 14  e_RAdeg    117955 non-null  float64
 15  e_DEdeg    117955 non-null  float64
 16  e_Plx      117955 non-null  float64
 17  e_pmRA     117955 non-null  float64
 18  e_pmDE     117955 non-null  float64
 19  DE:RA      117955 non-null  float64
 20  Plx:RA     117955 non-null  float64
 21  Plx:DE     117955 non-null  float64
 22  pmRA:RA    117955 non-null  float64
 23  pmRA:DE    117955 non-null  float64
 24  pmRA:Plx   117955 non-null  float64
 25  pmDE:RA    117955 non-null  float64
 26  pmDE:DE    117955 non-null  float64
 27  pmDE:Plx   117955 non-null  float64
 28  pmDE:pmRA  117955 non-null  float64
 29  F1         117955 non-null  float64
 30  F2         116392 non-null  float64
 31  ---        118218 non-null  int64
 32  BTmag      114820 non-null  float64
 33  e_BTmag    114820 non-null  float64
 34  VTmag      114879 non-null  float64
 35  e_VTmag    114879 non-null  float64
 36  m_BTmag    12796 non-null   object
 37  B-V        116937 non-null  float64
 38  e_B-V      116937 non-null  float64
 39  r_B-V      116937 non-null  object
 40  V-I        116943 non-null  float64
 41  e_V-I      116943 non-null  float64
 42  r_V-I      118218 non-null  object
 43  CombMag    10783 non-null   object
 44  Hpmag      118204 non-null  float64
 45  e_Hpmag    118204 non-null  float64
 46  Hpscat     117247 non-null  float64
 47  o_Hpmag    117247 non-null  float64
 48  m_Hpmag    13211 non-null   object
 49  Hpmax      117247 non-null  float64
 50  HPmin      117247 non-null  float64
 51  Period     2541 non-null    float64
 52  HvarType   71622 non-null   object
 53  moreVar    8254 non-null    float64
 54  morePhoto  3581 non-null    object
 55  CCDM       19393 non-null   object
 56  n_CCDM     19393 non-null   object
 57  Nsys       19393 non-null   float64
 58  Ncomp      117955 non-null  float64
 59  MultFlag   17917 non-null   object
 60  Source     3236 non-null    object
 61  Qual       20835 non-null   object
 62  m_HIP      11101 non-null   object
 63  theta      11101 non-null   float64
 64  rho        11101 non-null   float64
 65  e_rho      11101 non-null   float64
 66  dHp        11101 non-null   float64
 67  e_dHp      11101 non-null   float64
 68  Survey     52045 non-null   object
 69  Chart      11653 non-null   object
 70  Notes      4178 non-null    object
 71  HD         98880 non-null   float64
 72  BD         73160 non-null   object
 73  CoD        27880 non-null   object
 74  CPD        40250 non-null   object
 75  (V-I)red   118218 non-null  float64
 76  SpType     115184 non-null  object
 77  r_SpType   115184 non-null  object
dtypes: float64(49), int64(2), object(27)
memory usage: 70.4+ MB

In [9]:
# Description of categorical attributes
# =====================================

raw_data.describe(include = ['object'])

,Catalog,Proxy,RAhms,DEdms,r_Vmag,AstroRef,m_BTmag,r_B-V,r_V-I,CombMag,...,Qual,m_HIP,Survey,Chart,Notes,BD,CoD,CPD,SpType,r_SpType
count,118218,10925,118218,118218,118217,13734,12796,116937,118218,10783,...,20835,11101,52045,11653,4178,73160,27880,40250,115184,115184
unique,1,2,117384,116926,3,9,8,2,20,1,...,5,21,1,2,7,73159,27880,40250,4124,8
top,H,H,07 03 14.21,-19 28 09.3,H,A,*,T,L,*,...,A,AB,S,G,P,B+56 1790,C-41 15372,P-52 12237,K0,S
freq,118218,10800,3,3,94669,9526,7795,75732,74269,10783,...,9521,10200,52045,10877,2129,2,1,1,8570,56983

In [10]:
# Description of numerical attributes
# ===================================

raw_data.describe()

,HIP,Vmag,VarFlag,RAdeg,DEdeg,Plx,pmRA,pmDE,e_RAdeg,e_DEdeg,...,moreVar,Nsys,Ncomp,theta,rho,e_rho,dHp,e_dHp,HD,(V-I)red
count,118218.000000,118217.000000,11562.000000,117955.000000,117955.000000,117955.000000,117955.000000,117955.000000,117955.000000,117955.00000,...,8254.000000,19393.000000,117955.000000,11101.000000,11101.000000,11101.000000,11101.000000,11101.000000,98880.000000,118218.000000
mean,59176.745707,8.373233,1.739405,181.466380,-2.143250,7.215220,-1.303405,-16.599682,1.320787,1.10227,...,1.671432,1.193162,1.096452,181.245113,2.404513,0.019035,1.720967,0.160373,114374.227569,0.758321
std,34169.725917,1.312044,0.618728,103.261685,41.016397,11.286095,98.199404,93.859400,4.123088,3.43051,...,0.469721,0.418750,0.299403,104.910916,3.316871,0.021216,1.170635,0.252330,74189.731163,0.581249
min,1.000000,-1.440000,1.000000,0.000912,-89.782454,-54.950000,-4410.790000,-5813.000000,0.270000,0.33000,...,1.000000,1.000000,1.000000,0.000000,0.082000,0.001000,0.000000,0.010000,1.000000,-0.520000
25%,29581.250000,7.640000,1.000000,93.425334,-36.636503,2.510000,-15.150000,-21.740000,0.670000,0.59000,...,1.000000,1.000000,1.000000,92.000000,0.352000,0.005000,0.650000,0.030000,46735.750000,0.410000
50%,59177.500000,8.440000,2.000000,181.969874,-1.945926,4.610000,-1.680000,-5.650000,0.870000,0.72000,...,2.000000,1.000000,1.000000,183.000000,0.978000,0.011000,1.630000,0.070000,110373.500000,0.690000
75%,88767.750000,9.150000,2.000000,271.744455,31.435615,8.410000,11.840000,3.760000,1.170000,0.92000,...,2.000000,1.000000,1.000000,272.000000,3.050000,0.025000,2.700000,0.180000,175840.250000,1.040000
max,120416.000000,14.080000,3.000000,359.978792,89.569409,772.330000,6767.260000,10326.930000,281.160000,241.06000,...,2.000000,4.000000,4.000000,359.000000,23.588000,0.242000,4.470000,5.620000,358431.000000,9.290000